#PORT=9005
#GIN_ENV=debug
#
#DATABASE_HOST=posgres_db
##DATABASE_HOST=127.0.0.1                             # when running the app without docker
#DATABASE_PORT=5432
#DATABASE_USERNAME=postgres
#DATABASE_PASSWORD=bacao1994@gmail.com
#DATABASE_NAME=interviews
#DATABASE_SSL_MODE=disable
#DATABASE_TIME_ZONE=GMT
#DATABASE_QUERY_MAX_LIMIT=1000
#
#API_VERSION=1.0.1
#
#REDIS_HOST=redis_db
#REDIS_PORT=6379
##REDIS_HOST=127.0.0.1                            # when running the app without docker
##REDIS_PASSWORD=                                 # when running the app without docker
#
#PGADMIN_DEFAULT_EMAIL=bacao1994@gmail.com
#PGADMIN_DEFAULT_PASSWORD=bacao1994@gmail.com
#
#AES_JWT_KEY=12345678abcdefgh12345678ABCDEFGH
#HMAC_COMBINE_PASSWORD_KEY=hmac-secret-sha256-key-pw
#
#JWT_VALID_MINUTE=1440  # 1 day

#---------------------------------------
PORT=9005
GIN_ENV=debug

#DATABASE_HOST=posgres_db
DATABASE_HOST=127.0.0.1                             # when running the app without docker
DATABASE_PORT=5432
DATABASE_USERNAME=pro_blog_platform
DATABASE_PASSWORD=123456
DATABASE_NAME=interviews
DATABASE_SSL_MODE=disable
DATABASE_TIME_ZONE=GMT
DATABASE_QUERY_MAX_LIMIT=1000

TEST_DATABASE_HOST=127.0.0.1                             # when running the app without docker
TEST_DATABASE_PORT=5432
TEST_DATABASE_USERNAME=pro_blog_platform
TEST_DATABASE_PASSWORD=123456
TEST_DATABASE_NAME=interviews
TEST_DATABASE_SSL_MODE=disable
TEST_DATABASE_TIME_ZONE=GMT
TEST_DATABASE_QUERY_MAX_LIMIT=1000

API_VERSION=1.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=JlxOXuoYk/j8eICc4crydFT2YKxNVBccdbK7uVKKShGJH/QLob8rVC11Z8E/ANhzYIgci6d+wEPOOGj6
#REDIS_HOST=127.0.0.1                            # when running the app without docker
#REDIS_PASSWORD=                                 # when running the app without docker
REDIS_PORT=6379


PGADMIN_DEFAULT_EMAIL=bacao1994@gmail.com
PGADMIN_DEFAULT_PASSWORD=bacao1994@gmail.com

AES_JWT_KEY=12345678abcdefgh12345678ABCDEFGH
HMAC_COMBINE_PASSWORD_KEY=hmac-secret-sha256-key-pw

JWT_VALID_MINUTE=1440  # 1 day